extends layout.pug

block content
  .page-wrapper
    .preloader
    section.page-title(style='background-image:url(images/background/7.jpg);')
      .auto-container
        .content-box
          h1 Contact Us
          ul.bread-crumb
            li
              a(href='index.html') Home
            li Contact Us
    section.contact-us.google-calendar

      a#foxyform_embed_link_871815
      script(type='text/javascript').
        (function(d, t){
        var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
        g.src = "http://www.foxyform.com/js.php?id=871815&sec_hash=ba2eabbd95a&width=350px";
        s.parentNode.insertBefore(g, s);
        }(document, "script"));


