extends layout.pug

block content
  .page-wrapper
    .preloader
    section.google-calendar
      iframe(src='https://calendar.google.com/calendar/embed?src=fmrvrtfriends%40gmail.com&ctz=America/Denver', style='border: 0', width='85%', height='800', frameborder='0', scrolling='no')
