header.main-header
      //- .header-top
      //-   .auto-container
      //-     .clearfix
      //-       .top-left
      //-         ul.clearfix
      //-           li
      //-             span.icon.flaticon-technology-1
      //-             | +04 2345 6789
      //-           li
      //-             span.icon.flaticon-interface
      //-             | info@podgorica.com
      //-       .top-right
      //-         .social-icon
      //-           a(href='#')
      //-             span.fa.fa-facebook
      //-           a(href='#')
      //-             span.fa.fa-twitter
      //-           a(href='#')
      //-             span.fa.fa-google-plus
      //-           a(href='#')
      //-             span.fa.fa-pinterest-p
      //-           a(href='#')
      //-             span.fa.fa-youtube-play
      .main-box
        .auto-container
          .outer-container.clearfix
            .logo-box
              .logo
                a(href='index.html')
                  img(src='images/placeholder_logo.jpg', alt='River Valley Trails Logo')
            .nav-outer.clearfix
              nav.main-menu
                .navbar-header
                  button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-collapse.collapse.clearfix
                  ul.navigation.clearfix
                    li.current
                      a(href='/') Home
                    li
                      a(href='/events.html') Events
                    li
                      a(href='mailto:fmrvrtfriends@gmail.com')
              .btn-outer
                a.theme-btn.quote-btn.btn-style-one(href='donate.html') DONATE