extends layout.pug

block content
  .page-wrapper
    .preloader
    
    section.page-title(style='background-image:url(images/background/7.jpg);')
      .auto-container
        .content-box
          h1 Our Board
          ul.bread-crumb
            li
              a(href='index.html') Home
            li Our Board
    section.team-section
      .auto-container
        .row.clearfix
          - 
            var volunteers = [
              {title: 'Chairperson', name: 'Robert Brown - Ionia', img: '/images/IMG_1128.jpeg'},
              {title: 'Vice Chairperson', name: 'Mark Fritsma - Ionia', img: '/images/IMG_1142.jpeg'},
              {title: 'Secretary', name: 'Mark Grieves - Ionia', img: '/images/IMG_1140.jpeg'},
              {title: 'Treasurer', name: 'Tina Dickerson - Kent', img: '/images/IMG_1133.jpeg'},
              {title: 'Director', name: 'George Raimer - Ionia', img: '/images/IMG_1132.jpeg'},
              {title: 'Director', name: 'Wayne Addis - Montcalm', img: '/images/IMG_1137.jpeg'},
              {title: 'Director', name: 'Ron Gunderson - Ionia', img: '/images/IMG_1131.jpeg'},
              {title: 'Director', name: 'Rob Florian - Ionia', img: '/images/IMG_1128.jpeg'}
            ]

          each person in volunteers
            .team-member.col-md-4.col-sm-6.col-xs-12.volunteer
              .inner-box
                .image-box
                  .profile-pic.img(src=person.img, alt='')
                  .overlay-box
                    .user-info
                      .text= person.title
                      h4=person.name
                    //- ul.social-icon-two
                    //-   li
                    //-     a(href='#')
                    //-       span.fa.fa-facebook
                    //-   li
                    //-     a(href='#')
                    //-       span.fa.fa-twitter
                    //-   li
                    //-     a(href='#')
                    //-       span.fa.fa-google-plus

          //- .team-member.col-md-4.col-sm-6.col-xs-12
          //-   .inner-box
          //-     .image-box
          //-       img(src='images/resource/team-1.jpg', alt='')
          //-       .overlay-box
          //-         .user-info
          //-           .text Volunteer
          //-           h4 Kane Willson
          //-         ul.social-icon-two
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-facebook
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-twitter
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-google-plus
          //- .team-member.col-md-4.col-sm-6.col-xs-12
          //-   .inner-box
          //-     .image-box
          //-       img(src='images/resource/team-2.jpg', alt='')
          //-       .overlay-box
          //-         .user-info
          //-           .text Volunteer
          //-           h4 Victoria Maxin
          //-         ul.social-icon-two
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-facebook
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-twitter
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-google-plus
          //- .team-member.col-md-4.col-sm-6.col-xs-12
          //-   .inner-box
          //-     .image-box
          //-       img(src='images/resource/team-3.jpg', alt='')
          //-       .overlay-box
          //-         .user-info
          //-           .text Volunteer
          //-           h4 Jenny Frankie
          //-         ul.social-icon-two
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-facebook
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-twitter
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-google-plus
          //- .team-member.col-md-4.col-sm-6.col-xs-12
          //-   .inner-box
          //-     .image-box
          //-       img(src='images/resource/team-4.jpg', alt='')
          //-       .overlay-box
          //-         .user-info
          //-           .text Volunteer
          //-           h4 Lita William
          //-         ul.social-icon-two
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-facebook
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-twitter
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-google-plus
          //- .team-member.col-md-4.col-sm-6.col-xs-12
          //-   .inner-box
          //-     .image-box
          //-       img(src='images/resource/team-5.jpg', alt='')
          //-       .overlay-box
          //-         .user-info
          //-           .text Volunteer
          //-           h4 Ben Stroke
          //-         ul.social-icon-two
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-facebook
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-twitter
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-google-plus
          //- .team-member.col-md-4.col-sm-6.col-xs-12
          //-   .inner-box
          //-     .image-box
          //-       img(src='images/resource/team-6.jpg', alt='')
          //-       .overlay-box
          //-         .user-info
          //-           .text Volunteer
          //-           h4 Selena Gomez
          //-         ul.social-icon-two
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-facebook
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-twitter
          //-           li
          //-             a(href='#')
          //-               span.fa.fa-google-plus
    