extends layout.pug

block content
  .page-wrapper
    .preloader
    header.main-header
      //- .header-top
      //-   .auto-container
      //-     .clearfix
      //-       .top-left
      //-         ul.clearfix
      //-           li
      //-             span.icon.flaticon-technology-1
      //-             | +04 2345 6789
      //-           li
      //-             span.icon.flaticon-interface
      //-             | info@podgorica.com
      //-       .top-right
      //-         .social-icon
      //-           a(href='#')
      //-             span.fa.fa-facebook
      //-           a(href='#')
      //-             span.fa.fa-twitter
      //-           a(href='#')
      //-             span.fa.fa-google-plus
      //-           a(href='#')
      //-             span.fa.fa-pinterest-p
      //-           a(href='#')
      //-             span.fa.fa-youtube-play
      .main-box
        .auto-container
          .outer-container.clearfix
            .logo-box
              .logo
                a(href='index.html')
                  img(src='images/placeholder_logo.jpg', alt='River Valley Trails Logo')
            .nav-outer.clearfix
              nav.main-menu
                .navbar-header
                  button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-collapse.collapse.clearfix
                  ul.navigation.clearfix
                    li
                      a(href='/') Home
                    li
                      a(href='/events.html') Events
                    li.current
                      a(href='/trail-map.html') Trail Map
                    li
                      a(href='mailto:fmrvrtfriends@gmail.com') Contact Us
              .btn-outer
                a.theme-btn.quote-btn.btn-style-one(href='donate.html') DONATE
    section.trail-map
      iframe(src='https://www.google.com/maps/d/embed?mid=1f5zERL0DIbHHDv0itYtQyBwvSWc&ll=43.01552426895486%2C-85.38017687988281&z=12', width='100%', height='480')
    footer.main-footer
      .auto-container
        .widgets-section
          .row.clearfix
            .big-column.col-md-6.col-sm-12.col-xs-12
              .row.clearfix
                .footer-column.col-md-6.col-sm-6.col-xs-12
                  .footer-widget.about-widget
                    .footer-logo
                      figure
                        a(href='index.html')
                          img(src='images/logo-2.png', alt='')
                    .widget-content
                      .text
                        p
                          | Lifting people social challenge democracy micro fight against malnutrition, think tank social innovation global health truth dignity civic engagement.
                        .call-number
                          | Call us 
                          span +04 2345 6789
                .footer-column.col-md-6.col-sm-6.col-xs-12
                  .footer-widget.posts-widget
                    h2 LATEST POSTS
                    .widget-content
                      .posts
                        .post
                          figure.post-thumb
                            img(src='images/resource/post-thumb-1.jpg', alt='')
                          .desc-text
                            a(href='#') Recycling Plastic Bottles
                          .time 26.11.2016
                        .post
                          figure.post-thumb
                            img(src='images/resource/post-thumb-2.jpg', alt='')
                          .desc-text
                            a(href='#') Recycling Plastic Bottles
                          .time 26.11.2016
                        .post
                          figure.post-thumb
                            img(src='images/resource/post-thumb-3.jpg', alt='')
                          .desc-text
                            a(href='#') Recycling Plastic Bottles
                          .time 26.11.2016
            .big-column.col-md-6.col-sm-12.col-xs-12
              .row.clearfix
                .footer-column.col-md-6.col-sm-6.col-xs-12
                  .footer-widget.gallery-widget
                    h2 Instagram
                    .widget-content
                      .widget-content
                        .images-outer.clearfix
                          figure.image-box
                            a.lightbox-image(href='images/resource/event-4.jpg', title='Image Title Here', data-fancybox-group='footer-gallery')
                              img(src='images/gallery/instagram-1.jpg', alt='')
                          figure.image-box
                            a.lightbox-image(href='images/resource/project.jpg', title='Image Title Here', data-fancybox-group='footer-gallery')
                              img(src='images/gallery/instagram-2.jpg', alt='')
                          figure.image-box
                            a.lightbox-image(href='images/resource/news-6.jpg', title='Image Title Here', data-fancybox-group='footer-gallery')
                              img(src='images/gallery/instagram-3.jpg', alt='')
                          figure.image-box
                            a.lightbox-image(href='images/resource/event-6.jpg', title='Image Title Here', data-fancybox-group='footer-gallery')
                              img(src='images/gallery/instagram-4.jpg', alt='')
                          figure.image-box
                            a.lightbox-image(href='images/resource/event-5.jpg', title='Image Title Here', data-fancybox-group='footer-gallery')
                              img(src='images/gallery/instagram-5.jpg', alt='')
                          figure.image-box
                            a.lightbox-image(href='images/resource/news-7.jpg', title='Image Title Here', data-fancybox-group='footer-gallery')
                              img(src='images/gallery/instagram-6.jpg', alt='')
                .footer-column.col-md-6.col-sm-6.col-xs-12
                  .footer-widget.contact-widget
                    h2 SUBSCRIBE
                    .widget-content
                      .text
                        | Design thinking diversification efficient recognize potential communities human potential governance change.
                      .newsletter-one
                        form(method='post', action='contact.html')
                          .form-group
                            input(type='email', name='email', value='', placeholder='Enter your Email', required='')
                            |  
                            button.theme-btn(type='submit')
                              span.fa.fa-paper-plane-o
      .footer-bottom
        .auto-container
          .copyright-text &copy; 2017 Podgorica. All Rights Reserved.
  .scroll-to-top.scroll-to-target(data-target='html')
    span.fa.fa-long-arrow-up
  script(src='js/jquery.js')
  script(src='js/bootstrap.min.js')
  script(src='js/jquery.mCustomScrollbar.concat.min.js')
  script(src='js/revolution.min.js')
  script(src='js/jquery.fancybox.pack.js')
  script(src='js/jquery.fancybox-media.js')
  script(src='js/owl.js')
  script(src='js/wow.js')
  script(src='js/appear.js')
  script(src='js/jquery.mixitup.js')
  script(src='js/script.js')
  script(src='js/app.js' type='text/js')